version: "3.8"

services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: lms-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lms_oms_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: lms-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: lms
      RABBITMQ_DEFAULT_PASS: lms123
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7.2-alpine
    container_name: lms-redis
    command: redis-server --requirepass redis123
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a redis123 ping | grep PONG"]
      interval: 10s
      timeout: 3s
      retries: 5

  seq:
    image: datalust/seq:latest
    container_name: lms-seq
    environment:
      ACCEPT_EULA: Y
    ports:
      - "5341:5341"
      - "8081:80"
    volumes:
      - seq_data:/data

  jaeger:
    image: jaegertracing/all-in-one:1.51
    container_name: lms-jaeger
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: lms-keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/lms_keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: lms-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
  rabbitmq_data:
  seq_data:
